<div *ngIf="status" class="status">

	<div *ngIf="status.online" class="">
		<div class="alert alert-success" role="alert">
			<div class='left'>
				<i class="icon-online fas fa-check-circle"></i>
			</div>
			<div class='right'>
  				<h4 class="alert-heading">The internet is up!</h4>
				<p>Internet access was restored {{ fromNow }}.</p> 
			</div>
		</div>
	</div>
	<div *ngIf="!status.online">
		<div class="alert alert-danger" role="alert">
			<div class="left">
				<i class="icon-offline fas fa-times-circle"></i>
			</div>
			<div class="right">
  				<h4 class="alert-heading">THE INTERNET IS DOWN!</h4>
				<p>Internet access was lost {{ fromNow }}.</p> 
			</div>
		</div>
	</div>
</div>