.date {
	margin-top: 16px;
	margin-left: 32px;	
	font-size: 18px;
	color: #333;
}

.card {
	margin-top:25px;
	margin-bottom: 10px;
}

.fromDate {
	width: 33%;
}

.toDate {
	width: 33%;
}

.duration {
	width: 33%;
	text-align: right;
	padding-right: 20px;
}

.outageList {
	margin: 0 60px;	
	width: 85%;	
}

.outageSummary {
	margin: 0 60px 10px;	
	font-size: 13px;
	width: 85%;
	color: #444;
}

.outageList tr:nth-child(even) {
	background-color: #d7f5ff
}

.detailLabel {
	font-weight: bold;
	width: 25%;
}

.detailValue {
	width: 25%;
}

.tableWrapper {
	border: solid 1px #f4f4f4;
	padding: 10px 5px;
	border-radius: 5px;
}