<div *ngIf="outageDays">
	<div class="card" *ngFor="let outageDay of outageDays.reverse()"> 
		<div class="card-header">
			{{ outageDay.key }}
		</div>
		<div class="card-body">
			<table class="outageList" border="0" width="100%" cellpadding="5">
				<tr>
					<th class='fromDate'>Start Time</th>
					<th class='toDate'>End Time</th>
					<th class="duration">Outage Duration<th>
				</tr>
				<tr *ngFor="let entry of outageDay.entries">
					<td class='fromDate'>{{ entry.startTime | date:'h:mm aa' }}</td>
					<td class='toDate'>{{ entry.endTime | date:'h:mm aa'  }}</td>
					<td class='duration'>{{ entry.duration }} minutes</td>
				<tr>
			</table>
		</div>
	</div>
</div>